* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    border-radius: 8px;
    background-color: aliceblue;
}

.card img {
    border-radius: 8px 8px 0 0;
}

.card p {
    padding: 8px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}