footer {
    background-color: var(--secondary);
    text-align: center;
    padding: 16px 0;
    color: var(--font-primary);
}

footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
    text-decoration: underline;
    color: var(--contours);
}

