footer {
    background-color: rgb(1, 10, 15);
    text-align: center;
    padding: 16px 0;
    color: white;
}

footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
    text-decoration: underline;
    color: aqua;
}

