.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    width: 80%;
}

.resultImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    border: 2px solid var(--contours-primary);
}

.error {
    color: #c44e47;
}

.imageWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: pink;
}

.imageWrapper img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}