.result {
    margin-top: 48px;
    width: 100%;
}

.resultImageContainerWrapper {
    max-width: 1000px;
    padding-inline: 8px;
    margin-inline: auto;
}

.resultImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    max-width: 1000px;
    margin-inline: auto;
    box-sizing: content-box;
    border: 2px solid var(--contours-primary);

}

.error {
    color: #c44e47;
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {
    display: block;
    max-width: 1000px;
    max-height: 600px;
    width: 100%;
}