.sampleButton {
    background: none;
    border: none;
    cursor: pointer;
}

.sample {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sample img {
    border-radius: 50%;
}
