.samplesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.samplesContainer h3 {
    font-weight: 400;
    font-size: 16px;
}

.samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
}
