:root {
    --primary: #141414;
    --secondary: #494949;

    --contours-primary: #40ca24;
    --contours-secondary: #62a1ff;

    --font-primary: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--font-primary);
    padding-bottom: 32px;
}